/test2_busyv.bmp
/test2_filter.bmp
/test2_filtered.bmp
/test2_filtered1.bmp
/test2_filtered2.bmp
/test2_filtered3.bmp
/test2_filtered4.bmp
/test2_filtered5.bmp
/test2_modified.bmp
/ttmp_scaled.bmp
/ttmp_scaled2.bmp
/ttt_bw.bmp
/ttt_filtered456.bmp
/ttt_hdguedv.bmp
/wb_filtered.bmp
/wb_filtered1.bmp